*{
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}

/* --------starts the navigation bar style ------------*/
header{
    display: flex;
    flex-direction: column;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

#main-bar{
    height: 80px;
}

#main-bar, #shopping-cart-button{
    background-color:#baead6; 
}

.sub-menu {
    flex-basis: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


/* TANIA VERIFICA SI ES NECESARIO MANTENER ESTE CÓDIGO */
.nav-images{
    width: 40px;
}

.store-name, #banner-text,.shopping-cart-text{
    font-family: 'Anton', sans-serif;
    font-weight: 800px;
    font-size: 20px;
    font-weight: 200;
    margin-top:5px;
   color: #23360F;
}

#shopping-cart-button{
display: flex;
justify-content: center;
align-items: center;
border: none;
color: #23360F;
}

#cleaning-button:hover, #shopping-cart-button:hover{
    background-color: #9FE0B8;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
}

#shopping-cart-button:focus-visible

/* TANIA REVISA SI DEJAR ASÍ ESTO EN CSS ES BUENA PRÁCTICA */

.shopping-cart-text{
    margin-left: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

/*Por qué cuando quito este estilo del texto del carrito, se borra todo????

/* --------ends the navigation bar style ------------*/

/* --------starts the banner style ------------*/
#store-banner{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-image: url(images/bakground.jpg );
    background-size: contain;
    background-position: center;
    height: 300px;
}

#banner-text{
    font-size: 80px;
    padding-top: 140px;
}

.logo{
    font-size: 60px;
}

/* --------Ends the banner style ------------*/

/* --------Starts the shopping chart style OVELRAY ------------*/

.overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0,0.5 );
    position: absolute;
    top: 0;
    }

#menu-shopping-cart{
    width: 300px;
    height: 100vh;
    background-color:#55829A;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
}

.hidden{
    display: none;
}


/* --------Ends the shopping chart style ------------*/

/* starts the style of the section that contains the sidebar and the product */

/* START general terms of style for searching and product sections*/
section{
    display: flex;
    flex-direction: row;
}

.aside, .filter-container, .cleaning-button, .fa-search, .article-container, .choose-your-plant {
 background-color:#baead6;
}
.aside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 25%;
    height: auto;
}

/* ENDS general terms of style for searching and product sections */

/*Style of the section that serves as a header for the searching section that contains the manual searching and the trash can*/

/* Starts searching-container and search (PARENTS) style  */
.searching-container, .search{
display: flex;
flex-basis: 100%;
align-items: flex-start;
margin:30px;
}
/* Ends earching-container and search (PARENTS) styl*/

/* Start filter and clean-up (Children of searching-container) */
.filter, .clean-up{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    justify-content: space-around;
    align-items: center;    
    font-size: 13px;
    border-left: 15px;
}

.cleaning-button{
    font-weight: bolder;
    display: flex;
    font-size: 18px;
    font-family: 'Lora', serif; 
    border: none;
    width: 100%;
}

.fa-trash-alt{
    font-size: 18px;
}


.search{
    display: flex;
    flex-direction: column;
    position: relative;
   
}

/* Manual-searching label style */

#manual-searching{
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid grey;
    color: var(--color-text-dark);
}

.fa-search{
    position: absolute;
    right: 3px;
    top:30px;
}



/* starts the filter secion style  */
  .choose-your-plant{
     display: flex;  
     flex-basis: 100%;
     align-self: flex-start;
     flex-direction: column;
     justify-content: center;
     height: auto;
     margin-left: 10px;
     margin-right: 10px;
  }
  


  .choose-your-plant, .score{
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      margin-left: 0;
  }



  .score{
      padding: 40px;
  }
.article-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    flex-basis: 75%;
}

.fa-star
{
    color: #849935;
    font-size: 10px
    margin: 1px;
}

/* ends the searching section style  */


/* starts the product section style */

/* general style  */


article{
    display: flex;
    justify-content: center;
    height: 380px;
    flex-basis: 30%;
    background-color: #FFFFFF;
    margin: 10px;
}

.flavor{
    width: 70%;
    height: 70%;
    margin-top: 20px;
}

/* starts the section of the product menu section, style */
#burger-menu-bar{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-basis: 100%;
    height: auto;
}



.footer-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 100px;
    background-color:#9FE0B8;
}

.footer-text{
    color: white;
    font-weight: bolder;
}