header{
    display: flex;
    flex-direction: column;

}

.barra-larga{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


#barra-principal{
    height: 80px;
    background-color: blueviolet;
}

#logo{
    flex-basis: 20%; 
    height: 40px;
    background-color: burlywood;
    margin-left: 20px;
}

#carrito-compra{
    flex-basis: 20%; 
    height: 40px;
    background-color: burlywood;
    margin-right: 20px;
}

#banner-tienda{
    height: 300px;
    background-color: coral;
}
