*{
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}

body{
  overflow-x: hidden;
}


/* --------starts the navigation bar style ------------*/
header{
    display: flex;
    flex-direction: column;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

#main-bar{
    height: 80px;
}

#main-bar, #shopping-cart-button{
    background-color:#baead6; 
}

.sub-menu {
    flex-basis: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.nav-images{
    width: 40px;
}

.store-name, #banner-text,.shopping-cart-text{
    font-family: 'Anton', sans-serif;
    font-weight: 800px;
    font-size: 20px;
    font-weight: 200;
    margin-top:5px;
   color: #23360F;
}

#shopping-cart-button{
display: flex;
justify-content: center;
align-items: center;
border: none;
color: #23360F;
}

#cleaning-button:hover, #shopping-cart-button:hover{
    background-color: #9FE0B8;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
}

#shopping-cart-button:focus{
    visibility:visible;
}

.shopping-cart-text{
    margin-left: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}


/* --------ends the navigation bar style ------------*/

/* --------starts the banner style ------------*/
#store-banner{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-image: url(images/bakground.jpg );
    background-size: contain;
    background-position: center;
    height: 300px;
}

#banner-text{
    font-size: 80px;
    padding-top: 140px;
}

.logo{
    font-size: 60px;
}

/* --------Ends the banner style ------------*/

/* --------Start the OVERLAY and the shopping chart style  ------------*/
 /* overlay style */
.overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0,0.5 );
    position: absolute;
    top: 0;
    margin: 0%;
    }

/* start the general style of the shoping cart main box */

#mainbox-shopping-cart, #shopping-cart-nav-bar, .bought-products-text, .shopping-cart-product-list{
  display: flex;
}

#mainbox-shopping-cart{
  
    color: black;
    right: 0;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    width: 300px;
    height: 400px;
    
}


/* ends the general style of the shoping cart main box */


#shopping-cart-nav-bar{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.shopping-cart-style{
    background-color:#BAEAD6;
    position: absolute;
    transform: translateX(305px);
    transition: 1s;
}

.shping-cart-menu{
    margin-top:15px;
    margin-left: 15px;
    margin-bottom: 30px;
}


.close-button{
    margin-left: 100px;
}

#close-menu{
    background-color: transparent;  
    border: none;
}

#close-menu:focus{
    visibility: visible;
    
}

.fa-window-close{
    font-size: 25px;
    padding: 10px;
}


.bought-products-text{
    align-items: flex-start;
    justify-content: start;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top:80px;
}


.shopping-cart-product-list{
    
}


.hidden{
display: none;
scri
}




.show{
    transform: translatex(0);
}



/* --------Ends the shopping chart style ------------*/

/* starts the style of the section that contains the sidebar and the product */

/* START general terms of style for searching and product sections*/
section{
    display: flex;
    flex-direction: row;
}

.aside, .filter-container, .cleaning-button, .fa-search, .article-container, .choose-your-plant {
 background-color:#baead6;
}

.aside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 25%;
    height: auto;
}

/* ENDS general terms of style for searching and product sections */

/*START the Style of the section that serves as a header for the searching section that contains the manual searching and the trash can*/

/* Starts searching-container and search (PARENTS) style  */
.searching-container, .search{
display: flex;
flex-basis: 100%;
align-items: flex-start;
margin:30px;
margin-left: 10px;
}
/* Ends earching-container and search (PARENTS) styl*/

/* Start filter and clean-up (Children of searching-container) */
.filter, .clean-up{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    font-size: 13px;
    margin-left: 20px;
}

.cleaning-button{
    font-weight: bolder;
    display: flex;
    font-size: 18px;
    font-family: 'Lora', serif; 
    border: none;
    width: 100%;
}

.fa-trash-alt{
    font-size: 18px;
}

/* Manual-searching label style */
.search{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
   
}

#manual-searching{
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid grey;
    color: var(--color-text-dark);
}

.fa-search{
    position: absolute;
    right: 3px;
    top:30px;
}



/* starts the filter secion style  */
  .choose-your-plant, .score{
     display: flex;  
     flex-basis: 100%;
     align-self: flex-start;
     flex-direction: column;
     justify-content: center;
     height: auto;
     margin-left: 30px;
     margin-right: 10px;
     margin-bottom: 40px;
  }
  

.article-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    flex-basis: 75%;
}

h3{
    padding-top: 20px;
    padding-bottom: 15px;
}

label{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:3px;
}


.fa-star{
    color: #849935;
    font-size: 15px;
    margin: 1px;
}

/* ends the searching section style  */


/* starts the product section style */

/* general style  */
article, .plant-img, .plant-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }

article{
    height: 380px;
    flex-basis: 30%;
    background-color: #FFFFFF;
    margin: 10px;
}

article:hover{
    box-shadow: 0 0 10px;
}

p{
    text-align: center;
}

/* starts the section of the product menu section, style */
#burger-menu-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 96%;
    height: auto;
}

.left-bar, .right-bar{
    flex-basis: 50%;
    align-items: center;
    justify-content:start;
    font-size: 18px;
}

.right-bar{
    justify-content: flex-end;
}

.product-menu-button{
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 18px;
}

.product-menu-button:focus{
    visibility: visible;
}



.see-as{
    padding-right: 10px;
}

.fa-th{
    padding-right: 10px;
}

/* START the style of the articles that contains all the card-product */

.plant-img{
    flex-basis: 55%;
    margin: 0;
    padding: 0;
    margin: 20px;
    overflow: hidden;
}

.plant-type:hover{
    transform: scale(1.7);
    transition: all .3s ease-in;
}

.plant-type{
    width: 90%;
}

.buy-button{
    border: solid .5px salmon;
    background-color: salmon;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: 15px;
    font-weight: bolder;
}

.buy-button:hover{
    background-color: #F76363;
    font-size: medium;
}

.buy-botton:focus{
    visibility: visible;
}

.footer-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    background-color:#9FE0B8;
    padding: 40px;
}

.footer-text{
    color: white;
    font-weight: bolder;
}